.svg-icon {
    text-align: center
}

.svg-icon svg {
    height: 20px
}

.svg-icon_upload path {
    fill: none;
    stroke: var(--color);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px
}

.mdi-18px.mdi-set,
.mdi-18px.mdi:before {
    font-size: 18px
}

.mdi-24px.mdi-set,
.mdi-24px.mdi:before {
    font-size: 24px
}

.mdi-36px.mdi-set,
.mdi-36px.mdi:before {
    font-size: 36px
}

.mdi-48px.mdi-set,
.mdi-48px.mdi:before {
    font-size: 48px
}

.mdi-dark:before {
    color: rgba(0, 0, 0, .54)
}

.mdi-dark.mdi-inactive:before {
    color: rgba(0, 0, 0, .26)
}

.mdi-light:before {
    color: #fff
}

.mdi-light.mdi-inactive:before {
    color: hsla(0, 0%, 100%, .3)
}

.mdi-rotate-45:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.mdi-rotate-90:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.mdi-rotate-135:before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}

.mdi-rotate-180:before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.mdi-rotate-225:before {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg)
}

.mdi-rotate-270:before {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg)
}

.mdi-rotate-315:before {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg)
}

.mdi-flip-h:before {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
    filter: FlipH;
    -ms-filter: "FlipH"
}

.mdi-flip-v:before {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    -webkit-filter: FlipV;
    filter: FlipV;
    -ms-filter: "FlipV"
}

.mdi-spin:before {
    -webkit-animation: mdi-spin 2s linear infinite;
    animation: mdi-spin 2s linear infinite
}

@-webkit-keyframes mdi-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes mdi-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.icon .mdi-12px,
.mdi-12px {
    width: 12px;
    height: 12px
}

.icon .mdi-16px,
.mdi-16px {
    width: 16px;
    height: 16px
}

.icon .mdi-18px,
.mdi-18px {
    width: 18px;
    height: 18px
}

.icon .mdi-24px,
.mdi-24px {
    width: 24px;
    height: 24px
}

.icon .mdi-36px,
.mdi-36px {
    width: 36px;
    height: 36px
}

.icon .mdi-48px,
.mdi-48px {
    width: 48px;
    height: 48px
}

a,
label {
    -webkit-tap-highlight-color: transparent
}

.select select {
    border: solid 1.2px var(--color-bg-2, #dbdbdb);
    color: var(--color-bg-text, #4a4a4a);
    background: var(--color-bg-quiz, #fff)
}

.select select option {
    color: var(--color-bg-text, #4a4a4a)!important
}

.select:not(.is-multiple) {
    height: 2.25em
}

.select.is-empty select {
    color: var(--color-bg-5, hsla(0, 0%, 47.8%, .7))
}

.icon {
    width: 1.2rem;
    height: 1.2rem
}

.icon svg {
    width: 24px;
    height: 24px
}

#app,
.app-wrapper {
    position: relative;
    height: 100%
}

#app {
    font-family: var(--font), Gilroy, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    --color-danger: #d10a34;
    --color-success: #52bc77;
    --color-danger-light: rgba(209, 10, 52, 0.05);
    --color-success-light: rgba(59, 173, 75, 0.05)
}

#app input,
#app textarea {
    border-radius: 4px
}

#app input.is-danger,
#app textarea.is-danger {
    color: var(--color-danger);
    border-color: var(--color-danger)
}

#app input,
#app textarea {
    border: solid 1.2px var(--color-bg-3, #b1b5be);
    color: var(--color-bg-text, #363636);
    background: none
}

#app input {
    background-color: var(--color-bg-1, #f7f7f7)
}

#app input[type=number] {
    background: none
}

#app input::-webkit-input-placeholder,
#app textarea::-webkit-input-placeholder {
    color: var(--color-bg-6, rgba(54, 54, 54, .3))
}

#app input::-moz-placeholder,
#app textarea::-moz-placeholder {
    color: var(--color-bg-6, rgba(54, 54, 54, .3))
}

#app input:-ms-input-placeholder,
#app textarea:-ms-input-placeholder {
    color: var(--color-bg-6, rgba(54, 54, 54, .3))
}

#app input::-ms-input-placeholder,
#app textarea::-ms-input-placeholder {
    color: var(--color-bg-6, rgba(54, 54, 54, .3))
}

#app input::placeholder,
#app textarea::placeholder {
    color: var(--color-bg-6, rgba(54, 54, 54, .3))
}

#app .help.counter {
    color: var(--color-bg-alpha7)!important
}

#app .control-label {
    color: var(--color-bg-text, #4a4a4a)
}

#app .has-text-grey-light {
    color: var(--color-bg-alpha7, #b5b5b5)!important
}

#app .has-text-danger {
    color: var(--color-danger)!important
}

#app .help.is-danger {
    color: var(--color-danger)
}

#app .input,
#app .textarea {
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 2.65em
}

#app .icon.is-large {
    height: 4rem;
    font-size: 1.8rem
}

#app .icon.is-large .mdi {
    font-size: 29px
}

.dark code {
    background-color: var(--color-bg-7)
}

.button {
    font-size: 18px!important;
    padding: 12px 30px;
    min-height: 43px;
    height: auto;
    border-radius: 24px;
    border: none;
    line-height: 1.3rem
}

.button .icon {
    margin-right: 5px
}

.button .icon i:before {
    font-size: 18px!important
}

.button .icon svg {
    width: 18px;
    height: 18px
}

.button .icon:first-child:last-child {
    margin-left: calc(-.375em - 1px);
    margin-right: calc(-.375em - 1px)
}

.button .icon:first-child:not(:last-child) {
    margin-left: calc(-.375em - 1px);
    margin-right: .1875em
}

.button .icon:last-child:not(:first-child) {
    margin-right: calc(-.375em - 1px);
    margin-left: .1875em
}

.button_color_theme {
    color: var(--color-primary-text-button);
    background-color: var(--color)!important;
    -webkit-box-shadow: 0 3px 10px 0 var(--color-alpha);
    box-shadow: 0 3px 10px 0 var(--color-alpha);
    will-change: box-shadow;
    -webkit-transition: -webkit-box-shadow .2s ease-in;
    transition: -webkit-box-shadow .2s ease-in;
    transition: box-shadow .2s ease-in;
    transition: box-shadow .2s ease-in, -webkit-box-shadow .2s ease-in
}

.button_color_theme:focus,
.button_color_theme:hover {
    color: var(--color-primary-text-button);
    background-color: var(--color-darken10)!important;
    -webkit-box-shadow: 0 3px 15px 0 var(--color-alpha)!important;
    box-shadow: 0 3px 15px 0 var(--color-alpha)!important
}

.button_color_theme:focus {
    -webkit-box-shadow: 0 2px 8px 0 var(--color-alpha)!important;
    box-shadow: 0 2px 8px 0 var(--color-alpha)!important
}

.button.is-primary {
    background: var(--color);
    color: var(--color-primary-text-button)
}

.button.is-primary:focus,
.button.is-primary:hover {
    background: var(--color-darken10);
    color: var(--color-primary-text-button)
}

.button.is-square {
    border-radius: 4px
}

.button.is-outline {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid var(--color);
    color: var(--color);
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in
}

.button.is-outline:not([disabled]):hover {
    background-color: var(--color);
    color: var(--color-primary-text-button)
}

.tag:not(body).is-primary,
.tag:not(body).is-primary:focus,
.tag:not(body).is-primary:hover {
    background: var(--color);
    color: var(--color-primary-text-button)
}

.modal {
    z-index: 100!important
}

.modal-background {
    z-index: 110!important
}

.modal-content {
    z-index: 120!important
}

#app a,
#app a:focus,
#app a:visited {
    color: var(--color);
    text-decoration: none
}

#app a:focus,
#app a:hover {
    text-decoration: underline;
    color: var(--color-bg-alpha7, #363636)
}

.title {
    font-weight: 300
}

@media (max-width:767px) {
    .notification .title,
    .tile .title {
        font-size: 26px
    }
}

.p-0 {
    padding: 0!important
}

.button_rounded {
    border-radius: 36px
}

.b-radio.radio {
    line-height: 1.5;
    z-index: 10
}

.b-radio.radio input[type=radio]+.check {
    border: none;
    background-color: var(--color-bg-2, #e8e8e8)
}

.b-radio.radio input[type=radio]+.check:before {
    background-color: transparent
}

.b-radio.radio input[type=radio]:checked+.check {
    -webkit-box-shadow: 0 2px 6px 0 var(--color-alpha)!important;
    box-shadow: 0 2px 6px 0 var(--color-alpha)!important;
    border: 2px solid var(--color);
    background: var(--color-bg-2, #fff)
}

.b-radio.radio input[type=radio]:checked+.check:before {
    background: var(--color);
    background-size: 21px
}

.b-radio.radio:hover input[type=radio]:checked+.check {
    border-color: var(--color)
}

.b-radio.radio:focus input[type=radio]+.check {
    -webkit-box-shadow: none;
    box-shadow: none
}

.b-radio.radio:not(.button) {
    margin-right: 0
}

.input,
.select select,
.textarea {
    padding: calc(.375em - 1px) calc(.625em - 1px);
    height: 2.25em
}

.control.has-icons-left .input {
    padding-left: 2.25em
}

.control.has-icons-right .input {
    padding-right: 2.25em
}

.control.has-icons-left .icon,
.control.has-icons-right .icon {
    width: 2.25em
}

.b-checkbox.checkbox {
    line-height: 1.5;
    z-index: 10
}

.b-checkbox.checkbox input[type=checkbox]+.check {
    border: none;
    background-color: var(--color-bg-2, #e8e8e8)
}

.b-checkbox.checkbox input[type=checkbox]:checked+.check {
    background-color: var(--color);
    background-size: .9rem;
    -webkit-box-shadow: none;
    box-shadow: none
}

.b-checkbox.checkbox input[type=checkbox]:focus:checked+.check {
    -webkit-box-shadow: none;
    box-shadow: none
}

.b-checkbox.checkbox:not(.button) {
    margin-right: 0
}

#app p {
    margin-bottom: .5rem
}

#app p:last-child {
    margin-bottom: 0
}

#app {
    font-family: var(--font)
}

@media (min-width:819px) {
    .columns.is-desktop-modal {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

.button {
    -webkit-tap-highlight-color: transparent
}

.button.is-blicked {
    overflow-x: hidden
}

.button.is-blicked:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(10%, hsla(0, 0%, 100%, .1)), color-stop(20%, hsla(0, 0%, 100%, .2)), to(hsla(0, 0%, 100%, .6)));
    background: linear-gradient(90deg, hsla(0, 0%, 100%, .1) 10%, hsla(0, 0%, 100%, .2) 20%, hsla(0, 0%, 100%, .6));
    width: 20px;
    -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg);
    left: -20%;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-animation-name: blick;
    animation-name: blick;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.button.is-retry {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: var(--color);
    background: var(--color-alpha3)!important;
    -webkit-box-shadow: unset!important;
    box-shadow: unset!important
}

.button.is-primary {
    overflow: hidden
}

.button.is-primary:not(.is-outline).has-hover-shadow:focus,
.button.is-primary:not(.is-outline).has-hover-shadow:hover,
.button.is-primary:not(.is-outline).has-shadow {
    -webkit-box-shadow: 0 6px 21px 0 var(--color-alpha);
    box-shadow: 0 6px 21px 0 var(--color-alpha)
}

.button.is-primary:not(.is-outline).has-light-shadow {
    -webkit-box-shadow: 0 1px 4px 0 var(--color-alpha2);
    box-shadow: 0 1px 4px 0 var(--color-alpha2)
}

.button__preloader {
    position: relative
}

.button__preloader_top:before {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 5px;
    background: var(--color-darken10);
    -webkit-animation: button__preloader 2s ease-in-out infinite;
    animation: button__preloader 2s ease-in-out infinite
}

.app .swiper-container {
    width: 100%
}

.app .swiper-wrapper {
    margin-top: 0;
    margin-bottom: 20px
}

.app .swiper-button-next,
.app .swiper-button-prev {
    background-image: none;
    height: 70px
}

.app .swiper-button-next .icon,
.app .swiper-button-prev .icon {
    top: 0;
    position: absolute;
    background: var(--color-bg-8, #dbdbdb)!important;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 5px 0 var(--color-bg-alpha2, rgba(0, 0, 0, .2));
    box-shadow: 0 0 5px 0 var(--color-bg-alpha2, rgba(0, 0, 0, .2))
}

.app .swiper-button-next .icon svg,
.app .swiper-button-prev .icon svg {
    color: var(--color-text2)
}

.app .swiper-button-next.swiper-button-disabled,
.app .swiper-button-prev.swiper-button-disabled {
    opacity: 0
}

.app .swiper-button-prev .icon {
    -webkit-transform: translate(7px, -50%)!important;
    transform: translate(7px, -50%)!important;
    left: -15px
}

.app .swiper-button-next .icon {
    -webkit-transform: translate(-8px, -50%)!important;
    transform: translate(-8px, -50%)!important;
    right: -15px
}

.app .swiper-slide {
    width: 180px
}

.app .swiper-pagination-fraction {
    top: -4px
}

.app .swiper-scrollbar {
    background: var(--color-bg-2);
    height: 4px;
    width: 100%;
    left: 0;
    border-radius: 4px
}

.app .swiper-scrollbar-drag {
    background: var(--color)
}

p .emoji {
    margin-bottom: -2px
}

.u-points:after {
    content: "...";
    -webkit-animation: dots .6s infinite;
    animation: dots .6s infinite
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none
}

.hide-scrollbar::-webkit-scrollbar {
    display: none
}

.html-content ol,
.html-content ul {
    padding-left: 1.5rem;
    margin: .75rem 0
}

.html-content ol ol,
.html-content ol ul,
.html-content ul ol,
.html-content ul ul {
    margin: .25rem 0
}

.html-content ol p,
.html-content ul p {
    margin: 0
}

.html-content ol:last-child,
.html-content ul:last-child {
    margin-bottom: 0
}

.html-content ul {
    list-style: disc
}

.html-content blockquote {
    border-left: 3px solid var(--light-grey-blue);
    padding-left: .6rem;
    font-style: italic;
    margin: .75rem 0;
    text-align: left
}

.html-content blockquote ol,
.html-content blockquote ul {
    display: block!important
}

.html-content blockquote:last-child {
    margin-bottom: 0
}

.html-content hr {
    margin: .75rem 0
}

.html-content h1,
.html-content h2,
.html-content h3,
.html-content h4,
.html-content h5,
.html-content h6 {
    font-size: 22px;
    margin-top: 24px;
    margin-bottom: 14px;
    color: var(--color-bg-text, #363636);
    font-weight: 500
}

.html-content h1:first-child,
.html-content h2:first-child,
.html-content h3:first-child,
.html-content h4:first-child,
.html-content h5:first-child,
.html-content h6:first-child {
    margin-top: 0
}

@media (max-width:818px) {
    .html-content h1,
    .html-content h2,
    .html-content h3,
    .html-content h4,
    .html-content h5,
    .html-content h6 {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 10px
    }
}

.layout {
    height: 100%
}

.layout__footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1.5rem 1rem 1rem
}

@media (max-width:767px) {
    .layout__footer {
        position: static
    }
}

.radio-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px
}

@media (max-width:400px) {
    .radio-buttons {
        height: 30px
    }
}

.radio-buttons__button {
    cursor: pointer;
    padding: 0 10px;
    min-width: 58px;
    line-height: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
    background-color: var(--color-bg-7, var(--white-two))
}

@media (max-width:400px) {
    .radio-buttons__button {
        height: 30px
    }
}

.radio-buttons__button_selected~.radio-buttons__button {
    border-left: 0
}

.radio-buttons__button_selected {
    border: solid 1px var(--color);
    background-color: var(--color-alpha3);
    z-index: 10
}

.radio-buttons__button:first-child {
    border-radius: 4px 0 0 4px
}

.radio-buttons__button:last-child {
    border-radius: 0 4px 4px 0
}

.radio-buttons__button:hover {
    background-color: var(--color-alpha2);
    z-index: 10
}

.radio-buttons__icon {
    margin: 0 10px
}

.radio-buttons__text {
    color: var(--color-bg-text, #2e2e54);
    font-size: 14px;
    font-weight: 500
}

@media (max-width:400px) {
    .radio-buttons__text {
        font-size: 12px
    }
}

.disabled {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.5rem
}

@media (max-width:767px) {
    .disabled {
        font-size: 1.25rem
    }
}

.disabled__emoji {
    display: block;
    width: 44px;
    height: 44px;
    margin-bottom: 10px
}

@media (max-width:767px) {
    .disabled__emoji {
        width: 34px;
        height: 34px
    }
}

.disabled__text {
    color: var(--color-bg-text, #363636);
    text-align: center
}

.image-with-loader {
    height: 44px;
    width: 44px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 22px 24px;
    background-image: unset
}

.image-with-loader img {
    opacity: 1;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}

.image-with-loader_loading {
    background-image: url(../img/spin-loader.a211b89a.svg);
    background-position: cover;
    background-size: 100%
}

.image-with-loader_loading img {
    opacity: 0
}

.bonus {
    position: relative;
    width: 100%;
    height: var(--bonus-height);
    background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-main)));
    background: linear-gradient(var(--gradient-main));
    border-radius: 5px;
    line-height: 1.2;
    margin-bottom: 15px
}

@media (max-width:767px) {
    .bonus {
        margin-bottom: 10px
    }
}

.bonus:last-child {
    margin-bottom: 0
}

.bonus:not(.bonus_type_custom) .bonus__text {
    text-shadow: none
}

.bonus__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    background-size: 70px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: 10% 10px;
    -webkit-box-shadow: 1.9px 6.7px 7px 0 rgba(0, 0, 0, .1);
    box-shadow: 1.9px 6.7px 7px 0 rgba(0, 0, 0, .1)
}

.bonus__layer {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .1)), to(rgba(0, 0, 0, .55)));
    background: linear-gradient(90deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .55))
}

.bonus__layer,
.bonus__lock {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.bonus__lock {
    height: 100%;
    width: 100%;
    z-index: 2;
    -webkit-transition: all 1s ease;
    transition: all 1s ease
}

.bonus__lock-icon {
    position: absolute;
    right: 0;
    top: 0;
    left: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: translate(40%, -40%);
    transform: translate(40%, -40%);
    background-color: #8d8d8d;
    border-radius: 100%;
    z-index: 2;
    height: 25px;
    width: 25px;
    border: 4px solid #fff;
    -webkit-box-shadow: 0 4px 10px 0 var(--color-bg-alpha2, rgba(0, 0, 0, .1));
    box-shadow: 0 4px 10px 0 var(--color-bg-alpha2, rgba(0, 0, 0, .1))
}

.bonus__lock-icon svg {
    z-index: 2;
    fill: #fff;
    height: 11px!important
}

.bonus__unlock {
    width: 18px;
    height: 18px;
    position: relative
}

.bonus__unlock svg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-animation: pulse 1s ease 0s infinite;
    animation: pulse 1s ease 0s infinite;
    -webkit-box-shadow: 1px 3px 4px rgba(0, 0, 0, .1);
    box-shadow: 1px 3px 4px rgba(0, 0, 0, .1)
}

.bonus__unlock:hover svg {
    fill: var(--color-lighten)
}

.bonus__unlock+.bonus__emoji {
    display: none
}

.bonus__text {
    position: absolute;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    right: 9%;
    max-height: 60%;
    top: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 60%;
    max-width: 66%;
    text-align: right;
    word-break: break-word;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .2)
}

.bonus_locked {
    cursor: not-allowed
}

.bonus_unlocked {
    cursor: pointer
}

.bonus_type_custom .bonus__wrapper {
    background-size: cover;
    background-position: 50%
}

.bonus_type_icon {
    background: #dbdada
}

.bonus_type_icon .bonus__wrapper {
    background-size: auto 44px;
    background-position: 11px 50%;
    -webkit-box-shadow: 3px 2px 5px 0 rgba(0, 0, 0, .1);
    box-shadow: 3px 2px 5px 0 rgba(0, 0, 0, .1)
}

@media (max-width:375px) {
    .bonus_type_icon .bonus__wrapper {
        background-size: 38px 38px;
        background-position: 10% 50%
    }
}

.bonus_type_icon .bonus__text {
    text-shadow: none;
    color: var(--grey-blue);
    max-width: 50%
}

.bonus_type_icon .bonus__layer {
    display: none
}

.bonus_type_icon .bonus__unexpanded .bonus__wrapper {
    background-size: auto
}

.bonus__emoji {
    margin: 22px 13px;
    z-index: 1
}

.bonus_type_emoji {
    background: none
}

.bonus_type_emoji .bonus__wrapper {
    -webkit-box-shadow: 3px 2px 5px 0 rgba(0, 0, 0, .1);
    box-shadow: 3px 2px 5px 0 rgba(0, 0, 0, .1)
}

.bonus_type_emoji .bonus__lock-icon {
    background-color: #8d8d8d
}

.bonus_type_emoji .bonus__text {
    color: var(--grey-blue);
    max-width: 60%;
    text-shadow: none
}

.bonus_type_emoji.bonus_locked .bonus__layer,
.bonus_type_emoji.bonus_unlocked .bonus__layer {
    background: #d1d1d1;
    opacity: 1
}

@media (max-width:1118px) {
    .bonus_unexpanded.bonus.bonus_type_custom .bonus__wrapper {
        background-size: cover
    }
    .bonus_unexpanded.bonus.bonus_type_icon .bonus__wrapper {
        background-size: auto 29px
    }
    .bonus_unexpanded.bonus {
        margin-right: 6px;
        background: #dbdada;
        border-radius: 8px
    }
    .bonus_unexpanded.bonus .bonus__text {
        display: none
    }
    .bonus_unexpanded.bonus .bonus__emoji {
        width: 28px;
        height: 28px;
        margin: 0 auto
    }
    .bonus_unexpanded.bonus .bonus__lock {
        display: none
    }
    .bonus_unexpanded.bonus .bonus__lock-icon {
        height: 14.4px;
        width: 14.4px;
        border-width: 2px;
        background-color: #dbdada;
        position: absolute;
        right: 5px;
        top: -1px
    }
    .bonus_unexpanded.bonus .bonus__lock-icon svg {
        fill: var(--grey-blue);
        height: 6px!important
    }
    .bonus_unexpanded.bonus .bonus__wrapper {
        border-radius: 8px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-size: 31px 33.5px;
        background-position: 50%;
        background-color: #dbdada
    }
    .bonus_unexpanded.bonus .bonus__layer {
        display: none
    }
}

.bonus_expanded.bonus {
    background: #dbdada;
    background-image: none;
    height: var(--bonus-height);
    margin-bottom: 13px;
    border-radius: 9px;
    -webkit-box-shadow: none;
    box-shadow: none
}

.bonus_expanded.bonus.bonus_type_icon .bonus__wrapper {
    background-size: auto 38px;
    background-position: 8px 50%
}

@media (max-width:360px) {
    .bonus_expanded.bonus.bonus_type_icon .bonus__wrapper {
        background-size: auto 35px
    }
}

.bonus_expanded.bonus.bonus_type_icon .bonus__layer {
    display: none
}

.bonus_expanded.bonus.bonus_type_icon .bonus__text {
    color: var(--grey-blue);
    text-shadow: none
}

.bonus_expanded.bonus__locked {
    cursor: pointer
}

.bonus_expanded.bonus:not(.bonus_type_icon) .bonus_expanded.bonus:not(.bonus_type_custom) .bonus__layer {
    display: none
}

.bonus_expanded.bonus:not(.bonus_type_icon) .bonus_expanded.bonus:not(.bonus_type_custom) .bonus__text {
    color: var(--grey-blue);
    text-shadow: none
}

.bonus_expanded.bonus:not(.bonus_type_icon) .bonus_expanded.bonus:not(.bonus_type_custom) .bonus__wrapper {
    background-size: 55px 59px;
    background-position-y: 4px
}

@media (max-width:360px) {
    .bonus_expanded.bonus:not(.bonus_type_icon) .bonus_expanded.bonus:not(.bonus_type_custom).bonus_single .bonus__wrapper {
        background-size: 35px 35px;
        background-position: 7px 6px
    }
}

.bonus_expanded.bonus:not(.bonus_type_icon) .bonus_expanded.bonus:not(.bonus_type_custom).bonus_single.bonus_type_emoji img {
    height: 30px;
    width: 30px
}

.bonus_expanded.bonus:not(.bonus_type_icon) .bonus_expanded.bonus:not(.bonus_type_custom).bonus_single.bonus_type_emoji .bonus__emoji {
    margin-left: 2px
}

.bonus_expanded.bonus:not(.bonus_type_icon) .bonus_expanded.bonus:not(.bonus_type_custom).bonus_type_emoji img {
    height: 40px;
    width: 40px
}

.bonus_expanded.bonus:not(.bonus_type_icon) .bonus_expanded.bonus:not(.bonus_type_custom).bonus_type_emoji .bonus__emoji {
    margin-left: 6.5px
}

.bonus_expanded.bonus:has(.bonus_type_custom) .bonus__wrapper {
    background-size: cover;
    background-position: 50%
}

.bonus_expanded.bonus:has(.bonus_type_custom) .bonus__wrapper.bonus__text {
    color: var(--white)
}

.bonus_expanded.bonus .bonus__lock {
    display: none
}

.bonus_expanded.bonus .bonus__wrapper {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 8px
}

.bonus_expanded.bonus .bonus__lock-icon {
    height: 18px!important;
    width: 18px!important;
    right: 17px;
    top: -2px;
    border-width: 2px;
    background-color: #dbdada
}

.bonus_expanded.bonus .bonus__lock-icon svg {
    fill: var(--grey-blue);
    height: 8px!important
}

.bonus_expanded.bonus .bonus__text {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    margin-right: 11px;
    max-width: 50%;
    text-overflow: ellipsis;
    right: 0;
    left: auto
}

.bonuses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.bonuses_direction_row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.bonuses_direction_row .bonuses__bonus {
    width: 195px
}

.bonuses_direction_row .bonuses__bonus:last-child {
    margin-left: 15px
}

.bonuses_direction_row .bonuses__bonus:first-child {
    margin-left: 0
}

@media (max-width:375px) {
    .bonuses_direction_row.bonuses_count_2 .bonus_type_emoji .bonus__text {
        font-size: 11px;
        left: 55px
    }
}

@media (max-width:375px) {
    .bonuses_direction_row.bonuses_count_2 .bonus_type_emoji .bonus__emoji {
        width: 38px;
        height: 38px;
        margin: 10px
    }
}

@media (max-width:767px) {
    .bonuses_direction_row-mobile {
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: var(--bonus-height)
    }
}

.quiz-container_rtl .bonuses_direction_row .bonuses__bonus:last-child,
.start-page_rtl .bonuses_direction_row .bonuses__bonus:last-child {
    margin-left: 0;
    margin-right: 15px
}

.cookie-notice {
    background-color: #fff;
    width: 100%;
    position: relative
}

.cookie-notice__bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--color-alpha3);
    z-index: 10
}

.cookie-notice__banner {
    padding: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 56px;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    color: var(--dark-grey-blue);
    position: relative;
    z-index: 20
}

.cookie-notice__banner img {
    width: 42px;
    margin-right: 1rem
}

.cookie-notice__banner .button {
    background-color: #fff;
    margin-left: 1rem;
    border-radius: 30px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    padding: 4px 12px;
    min-height: 20px;
    font-size: 14px!important
}

@media (max-width:767px) {
    .cookie-notice__banner {
        font-size: 11px
    }
    .cookie-notice__banner img {
        display: none
    }
}

.arrow {
    width: 14px;
    height: 10px
}

.arrow_animation {
    -webkit-animation-name: move-arrow;
    animation-name: move-arrow;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

@-webkit-keyframes move-arrow {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
    50% {
        -webkit-transform: translateY(60%);
        transform: translateY(60%)
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@keyframes move-arrow {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
    50% {
        -webkit-transform: translateY(60%);
        transform: translateY(60%)
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

.quiz-container_rtl .discount-badge {
    margin-left: auto;
    margin-right: 10px
}

.quiz-container_rtl .discount-badge__value {
    direction: rtl;
    padding-right: 12px;
    border-radius: 4px
}

.quiz-container_rtl .discount-badge__value:before {
    right: 0;
    z-index: 2
}

.quiz-container_rtl .discount-badge__title {
    display: none
}

.cls-1[data-v-14468613] {
    opacity: .54
}

.layout {
    background: var(--color-bg-10, #f8f8f8);
    position: relative;
    z-index: 1
}

@media (max-width:767px) {
    .layout {
        background: none
    }
}

@media (min-width:1201px) {
    .layout {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        min-height: 100%;
        height: auto
    }
}

@-webkit-keyframes blick {
    15%,
    to {
        left: 110%
    }
}

@keyframes blick {
    15%,
    to {
        left: 110%
    }
}